apiVersion: apps/v1
kind: Deployment
metadata:
  name: gopal-backend-a
  namespace: gopal-app-dev
  labels:
    app: gopal-backend-a
    tier: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gopal-backend-a
  template:
    metadata:
      labels:
        app: gopal-backend-a
        tier: backend
    spec:
      containers:
      - name: backend-a
        image: gopaldevacr.azurecr.io/backend-a:dev
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: gopal-db-config
        - secretRef:
            name: gopal-db-credentials
        resources:
          requests:
            cpu: 50m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
        livenessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: backend-a-service
  namespace: gopal-app-dev
spec:
  type: ClusterIP
  selector:
    app: gopal-backend-a
  ports:
  - port: 8080
    targetPort: 8080
