trigger:
  branches:
    include:
    - main
    - dev
  paths:
    include:
    - backend-a/*
    - backend-b/*
    - k8s/*

pool:
  vmImage: 'ubuntu-latest'

stages:
  - stage: Dev
    displayName: 'Dev Environment'
    jobs:
      - job: Build_Deploy_Dev
        steps:
          - task: AzureCLI@2
            displayName: 'Build Backend-A'
            inputs:
              azureSubscription: 'sc-azure-gopal'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az acr build --registry gopaldevacr --image backend-a:dev --file backend-a/Dockerfile backend-a/

          - task: AzureCLI@2
            displayName: 'Build Backend-B'
            inputs:
              azureSubscription: 'sc-azure-gopal'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az acr build --registry gopaldevacr --image backend-b:dev --file backend-b/Dockerfile backend-b/

          - task: AzureCLI@2
            displayName: 'Deploy to AKS'
            inputs:
              azureSubscription: 'sc-azure-gopal'
              scriptType: 'bash'
              scriptLocation: 'inlineScript'
              inlineScript: |
                az aks get-credentials --resource-group rg-gopal-dev --name aks-gopal-dev --overwrite-existing
                kubectl apply -f k8s/dev/

  - stage: QA
    displayName: 'QA Environment'
    dependsOn: Dev
    condition: succeeded()
    jobs:
      - deployment: Deploy_QA
        environment: 'QA-Backend'
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self
                - task: AzureCLI@2
                  displayName: 'Build and Deploy to QA'
                  inputs:
                    azureSubscription: 'sc-azure-gopal'
                    scriptType: 'bash'
                    scriptLocation: 'inlineScript'
                    inlineScript: |
                      az acr build --registry gopalqaacr --image backend-a:qa --file backend-a/Dockerfile backend-a/
                      az acr build --registry gopalqaacr --image backend-b:qa --file backend-b/Dockerfile backend-b/
                      az aks get-credentials --resource-group rg-gopal-qa --name aks-gopal-qa --overwrite-existing
                      kubectl apply -f k8s/qa/

  - stage: Prod
    displayName: 'Prod Environment'
    dependsOn: QA
    condition: succeeded()
    jobs:
      - deployment: Deploy_Prod
        environment: 'Prod-Backend'
        strategy:
          runOnce:
            deploy:
              steps:
                - checkout: self
                - task: AzureCLI@2
                  displayName: 'Build and Deploy to Prod'
                  inputs:
                    azureSubscription: 'sc-azure-gopal'
                    scriptType: 'bash'
                    scriptLocation: 'inlineScript'
                    inlineScript: |
                      az acr build --registry gopalprodacr --image backend-a:prod --file backend-a/Dockerfile backend-a/
                      az acr build --registry gopalprodacr --image backend-b:prod --file backend-b/Dockerfile backend-b/
                      az aks get-credentials --resource-group rg-gopal-prod --name aks-gopal-prod --overwrite-existing
                      kubectl apply -f k8s/prod/
